@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



:root {
  --background: #FDF5E6;
  --foreground: #9DC183;
  --ivory: #FDF5E6;
  --sage: #9DC183;
  --gold: #D4AF37;
}

@theme inline {
  --color-background: var(--ivory);
  --color-foreground: var(--sage);
  --color-ivory: var(--ivory);
  --color-sage: var(--sage);
  --color-gold: var(--gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #111111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bodoni Moda", serif;
}

/* Font Classes */
.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.font-libre-baskerville {
  font-family: 'Libre Baskerville', serif;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.font-emilys-candy {
  font-family: 'Emilys Candy', cursive;
}
